# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

route-planner-v2

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

.vscode
# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
local.db
scripts/import-jobs.js
scripts/import-vehicles.js

# CSV data files
jobs_backup.csv
jobs_michigan.csv
jobs_modified.csv
jobs_phoenix.csv
vehicles*.csv

# Default logo files
company_logo.svg
shipments_tampa.csv
.gitignore
.gitignore
generalized_fuel_combinations_deduped.json
.gitignore
jobs_richmond.json
shipments_michigan.csv
scripts/*
vehicles_tampa.json
shipments_richmond.csv
generateAltCapacities.js
.gitignore
shipments_richmond_geocode.csv
generalized_fuel_combinations.json
